body{
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-branco-elegante-textura_23-2148438345.jpg");
    color: black;
    font-family: 'Helvetica Neue', Helvetica,Arial, Helvetica, sans-serif;
    display: grid;
}

header{
    display: flex;
    align-items: center;
    margin: auto;
}

h1{
    padding-right: 20px;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-abstrato-azul_1393-339.jpg?size=626&ext=jpg&ga=GA1.1.1583564722.1642723200");
    background-attachment: fixed;
    background-position: center;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0px 20px;
}
nav > a:hover {
    color: white;
    text-decoration: underline;
}

section{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

div{
    padding: 20px;
    text-align: center;
}

footer{
    /*margin: auto;*/
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-abstrato-azul_1393-339.jpg?size=626&ext=jpg&ga=GA1.1.1583564722.1642723200");
}
a {
    color: #FFFFFF;
}
div#devs{
    padding-right: 100px;
    color: #FFFFFF;
}
div#redes{
    color: #FFFFFF;
}